@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-white: #ffffff;
    --color-white-soft: #f8f8f8;
    --color-white-mute: #f2f2f2;

    --color-black: #181818;
    --color-black-soft: #222222;
    --color-black-mute: #282828;
    --color-black-alternate: #2A2A2A;

    --color-grey: #454545;
    --color-grey-soft: #5a5a5a;
    --color-grey-light: #6c6c6c;

    --color-primary: theme(colors.dark.primary);
    --color-secondary: theme(colors.dark.secondary);
    --color-tertiary: theme(colors.dark.tertiary);
    --color-accent: theme(colors.dark.accent);

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    background-color: var(--color-black-soft);
    color: var(--color-white-mute);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }
  body {
    margin: 0;
    display: flex;
    min-width: 320px;
    min-height: 100vh;
  }
  #app {
    width: 100%;
  }
}
a:hover {
  color: var(--color-secondary);
}
.icon-medium-gray {
  height: 2em;
  width: 2em;
  fill: var(--color-grey-light)
}
.menu-overlay {
  position:fixed;
  height: 100vh;
  width: 100%;
  opacity: .9;
  background-color: var(--color-black-mute);
  visibility: hidden;
}
.top-banner {
  padding: 1em;
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

}
.sidebar {
  position: fixed;
  padding: .8em;
  background-color: var(--color-grey);
  height: 100vh;
  border-right: 2px solid var(--color-black-soft);
  border-radius: 0.5rem;
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  left: -10em;
  transition: left .25s ease-out;
}
.nav-link {
  font-weight: 700;
  font-size: 1.2em;
  color:var(--color-accent)
}
@media (prefers-color-scheme: light) {
  :root {
    --color-primary: theme(colors.light.primary);
    --color-secondary: theme(colors.light.secondary);
    --color-tertiary: theme(colors.light.tertiary);
    --color-accent: theme(colors.light.accent);
    --color-text: theme(colors.light.text);
    color: var(--color-text);
    background-color: var(--color-white-mute);
  }
  a:hover {
    color: var(--color-tertiary);
  }
  button {
    background-color: #f9f9f9;
  }
  .menu-overlay {
    background-color: var(--color-grey);
    opacity: .95;
  }
  .sidebar {
    background-color: var(--color-white-mute);
    border-right: 2px solid var(--color-black-soft);
 }
}
/*animations*/
.show {
  visibility: visible;
}
.slide-right {
  left: 0;
}